
.box{
    width:200px;
    height:200px;
    background-color: white;
    margin:10px;
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
  }
  .activeBox{
    border:5px solid #D64545;
    border-spacing: 10;
    border-radius: 50%;
    transform: scale(1.2) translateY(-30px);
    position:relative;
  
  }
  .activeBox::after{
    content:"";
    height:4px;
    width:70%;
    background-color: #D64545;
    position:absolute;
    bottom:-20px
  }

  .box__icon{
    width:100px;
}
