.model{
    width:80%;
    height:70%;
    background-color: white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s linear;
    animation: modelUp .5s linear ;
    z-index: 100;
    overflow-y: scroll;
    border-radius: 20px;
}
.model::-webkit-scrollbar{
    display: none;
}
@keyframes modelUp {
    from{
        transform: translate(-50%,-2000px);
    }
    to{
        transform: translate(-50%,-50%);
    }
}

.model__title{
    font-size:30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top:30px;
    margin-bottom:100px;
    color:#D64545;
}